<section id="services" class="services-section">
  <div class="container">
    <h2>Mes Accompagnements</h2>
    <div class="services-grid">
      <div class="service-card">
        <div class="service-icon">
          <img src="assets/images/communaute.png" alt="Icône Communauté" />
        </div>
        <h3>La Communauté #CaptainLumen</h3>
        <p>
          Sortir de la solitude et rayonne au sein d'une communauté
          bienveillante
        </p>

        <a href="communaute.html" class="cta-button">Je rejoins la communauté</a>
      </div>
      <div class="service-card">
        <div class="service-icon">
          <img src="assets/images/discussion.png" alt="Icône Discussion" />
        </div>
        <h3>Coaching individuel</h3>
        <p>
          Je t'accompagne en One to One pour retrouver du sens, de la clarté et
          de la légèreté.
        </p>

        <a
          href="https://calendly.com/your-link"
          target="_blank"
          class="cta-button"
          >Je me lance</a
        >
      </div>
      <div class="service-card">
        <div class="service-icon">
          <img
            src="assets/images/computer.png"
            alt="Icône programme en ligne"
          />
        </div>
        <h3>Programme Lumen'Essence</h3>
        <p>
          Une méthode complète pour une transformation profonde. En autonomie et
          à ton rythme.
        </p>

        <a
          href="https://calendly.com/your-link"
          target="_blank"
          class="cta-button"
          >Je découvre</a
        >
      </div>
    </div>
  </div>
</section>
