<section id="testimonials" class="testimonials-section">
  <div class="container">
    <h2>Ce qu'elles en disent</h2>
    <div class="testimonials-grid">
      <div class="testimonial-card">
        <p>
          "Il y a des prises de conscience fondatrices, et celle que m'a fait
          découvrir Rachida est à marquer d'une pierre blanche. Oui, les pensées
          que nous générons ont une influence sur les résultats que nous
          obtenons. Je le savais pourtant ! mais la démonstration à partir d'une
          situation que je lui soumettais m'a décillé les yeux, plus, m'a donné
          l'envie, oui, l'envie, de pratiquer une routine puissante qu'elle m'a
          partagée."
        </p>
        <h4>- Monique</h4>
      </div>
      <div class="testimonial-card">
        <p>
          "Grâce à ton soutien indéfectible, je me sens plus sûre de moi et
          prête à relever de nouveaux défis professionnels"
        </p>
        <h4>- Siham</h4>
      </div>
      <div class="testimonial-card">
        <p>
          "Rachida a su voir en moi ce qui ne va pas et comment corriger. Pour
          ma part, aujourd'hui je ne commence jamais ma journée ou toute
          réflexion par du négatif et j'arrive à faire cette rétroaction sur moi
          même afin de corriger itérativement les erreurs du passe."
        </p>
        <h4>- Hassina</h4>
      </div>
    </div>
  </div>
</section>
